<div class="row">


  <!--  <div class="col-md-2">

        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a class="btn btn-primary" ng-if="MapCtrl.enebleLayerAdd" ng-click="MapCtrl.addLayer()">Add layer</a></li>
            <li role="presentation"><a class="btn btn-primary" ng-if="!MapCtrl.enebleLayerAdd" ng-click="MapCtrl.removeLayer()">Remove layer</a></li>
            
            <li role="presentation"><a class="btn btn-primary" ng-click="MapCtrl.enableFeatureExtraction()">GFI</a></li>
            <li role="presentation"><a class="btn btn-primary" ng-click="MapCtrl.enableEdit()">Enable edit</a></li>
            <li role="presentation"><a class="btn btn-primary" ng-click="MapCtrl.disableEdit()">Disable edit</a></li>
            <li role="presentation"><a class="btn btn-primary" ng-click="MapCtrl.cancelEdit()">Cancel edit</a></li>
            <li role="presentation"><a class="btn btn-primary" ng-click="MapCtrl.resetEdit()">Reset edit</a></li>

            <li role="presentation"><a class="btn btn-warning" ng-click="MapCtrl.startLineDraw()">Start draw line</a></li>
            <li role="presentation"><a class="btn btn-warning" ng-click="MapCtrl.saveLineDraw()">Save draw line</a></li>
            <li role="presentation"><a class="btn btn-warning" ng-click="MapCtrl.cancelLineDraw()">Cancel draw draw</a></li>

            <li role="presentation"><a class="btn btn-danger" ng-click="MapCtrl.startLineMeasure()">Start line measure</a></li>
            <li role="presentation"><a class="btn btn-danger" ng-click="MapCtrl.stopLineMeasure()">Stop line measure</a></li>
            <li role="presentation"><a class="btn btn-danger">{{ MapCtrl.lineLength }}</a></li>


        </ul>

    </div>-->


    <div class="col-md-12">

        <cm-leaflet-map options="MapCtrl.opts" config="MapCtrl.config" style="min-height: 100%; width: 100%; display: block;"></cm-leaflet-map>

        <cm-toolbar-holder map-id="{{ MapCtrl.mapId }}">
            
            <div class="btn-group btn-group-sm" role="group">

                <button ng-if="MapCtrl.enebleLayerAdd" ng-click="MapCtrl.addLayer()" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>

                <button ng-if="!MapCtrl.enebleLayerAdd" ng-click="MapCtrl.removeLayer()" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>

            </div>

            <div class="btn-group btn-group-sm" role="group">

                <button ng-click="MapCtrl.enableFeatureExtraction()" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </button>

                <button ng-click="MapCtrl.disableFeatureExtraction()" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                </button>

            </div>


            <div class="btn-group btn-group-sm" role="group">

                <button ng-click="MapCtrl.enableEdit()" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>

                <button ng-click="MapCtrl.disableEdit()" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                </button>

                <button ng-click="MapCtrl.cancelEdit()" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                </button>

                <button ng-click="MapCtrl.resetEdit()" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                </button>

            </div>


            <div class="btn-group btn-group-sm" role="group">

                <cm-measure-line map-id="{{ MapCtrl.mapId }}"></cm-measure-line>

            </div>


        </cm-toolbar-holder>

    </div>


</div>




