<button ng-click="toggleFullScreen()"
        uib-tooltip='{{ tooltipText }}'
        tooltip-popup-delay='200'
        tooltip-placement="bottom"
        type="button" class="btn btn-default">
    <span class="glyphicon" ng-class="{ 'glyphicon-resize-full': !isFullscreen, 'glyphicon-resize-small': isFullscreen }" aria-hidden="true"></span>
</button>