<button ng-click="goHome()"
        uib-tooltip='Home'
        tooltip-popup-delay='200'
        tooltip-placement="bottom"
        type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
</button>