<button ng-click="toggleMeasure()"
        uib-tooltip='{{ tooltipText }}'
        tooltip-popup-delay='200'
        tooltip-placement="bottom"
        type="button" class="btn btn-default">
    <span class="glyphicon" ng-class="{ 'glyphicon-flag': !isTrackingCoords, 'glyphicon-remove-circle': isTrackingCoords }"  aria-hidden="true"></span>
</button>