<button ng-click="toggleMouseCoords()"
        uib-tooltip='{{ tooltipText }}'
        tooltip-popup-delay='200'
        tooltip-placement="bottom"
        type="button" class="btn btn-default">
    <span class="glyphicon" ng-class="{ 'glyphicon-eye-open': !isTrackingCoords, 'glyphicon-eye-close': isTrackingCoords }"  aria-hidden="true"></span>
</button>