<button ng-click="toggleRectangularZoom()"
        uib-tooltip='{{ tooltipText }}'
        tooltip-popup-delay='200'
        tooltip-placement="bottom"
        type="button" class="btn btn-default">
    <span class="glyphicon" ng-class="{ 'glyphicon-zoom-in': !isRectangularlyZooming, 'glyphicon-zoom-out': isRectangularlyZooming }" aria-hidden="true"></span>
</button>
