html, body{

  height: 100%;
  width: 100%;

  #coords-holder{

    position: absolute;
    z-index: 9999999999999999999;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;


  }

  .view-holder{

    height: 100%;
    width: 100%;

    .row {

      height: 100%;

      .col-md-12 {

        height: 100%;

        .toolbar{

          position: absolute;
          z-index: 5000;
          top: 20px;
          right: 40px;

        }

        .toolbar:-webkit-full-screen{
          z-index: 10000;

        }

      }

    }

  }

}

