body {

	padding-top: @navbar-height;

}

label {

	font-weight: 600;

}

strong,
.bold {

	font-weight: 700;

}

.footer {

	padding: 15px 0;
	text-align: center;
	border-top: 1px solid #ccc;
	margin-top: 50px;
}