<header>
    <h1>CLEVER°MAPS'</h1>
</header>
<div id="layer-selector-holder">
    <!--<ul>
        <li ng-repeat="layer in CmLayerSelectorCtrl.config.layers" ng-include="'demo/templates/app-layer.html'">
        </li>
    </ul>-->
    <div class="row">


            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="layer in CmLayerSelectorCtrl.config.layers" role="presentation">

                    <input type="checkbox" ng-checked="layer.visible" ng-click="CmLayerSelectorCtrl.switchLayer(layer)" />

                    {{layer.title}}

                    <button ng-if="layer.visible && layer.editable" type="button" class="btn btn-primary" ng-click="CmLayerSelectorCtrl.options.onEditClick(layer)"
                           uib-btn-checkbox ng-model="layer.edit"> <i class=" glyphicon glyphicon-pencil"></i>
                   </button>

                </li>
            </ul>

    </div>
</div>