<li class="map-navbar-li" ng-repeat="node in CmLayerSelectorCtrl.config.layers" ng-if="node.type === 'node'" ng-init="node.isOpen = false">

    <a href ng-click="node.isOpen = !node.isOpen">
        <span class="glyphicon glyphicon-list"></span>&nbsp; {{ node.title }}
    </a>

    <div>
        <div uib-collapse="!node.isOpen" class="toggle-box-item">
            <ul>
                <li ng-repeat="layer in node.layers"
                    ng-if="layer.selector === 'switch'">
                    <label ng-click="CmLayerSelectorCtrl.switchLayer(layer)">
                        <input type="checkbox" ng-checked="layer.visible" >
                    </label>
                    <span>
                        {{layer.title}}
                    </span>
                </li>
            </ul>
        </div>
    </div>

</li>