<span ng-if="layer.selector === 'switch' && layer.selected != false">
    <div class="switch" ng-class="{'layer-visible': layer.visible}" ng-if="!layer.comboBox">
        <span ng-click="switchLayer(layer)">
            <span ng-if="layer.selectorStyle !== 'none'" class="selector">
                <span ng-if="layer.icon" ng-show="layer.visible" class="icon">
                    <img ng-src="{{layer.icon}}" />
                </span>

                <span ng-if="layer.selectorStyle === 'class'" ng-show="layer.visible" class="indicator">
                    <div style="width: 100%; height: 100%;" class="{{layer.class}}">
                        &nbsp;
                    </div>
                </span>

                <span ng-if="layer.selectorStyle === 'fill'" ng-show="layer.visible" class="indicator"
                      ng-style="{'background-color': layer.fillColor}">
                    &nbsp;
                </span>

                <span ng-if="layer.selectorStyle === 'border'" ng-show="layer.visible" class="indicator"
                      ng-style="{'border-width': layer.borderWidth,
                                       'border-style': layer.borderStyle,
                                       'border-color': layer.borderColor
                                      }">
                    &nbsp;
                </span>

                <span ng-if="layer.selectorStyle === 'border-fill'" ng-show="layer.visible" class="indicator"
                      ng-style="{'border-width': layer.borderWidth,
                                       'border-style': layer.borderStyle,
                                       'border-color': layer.borderColor
                                      }">
                    <div style="width: 100%; height: 100%;"
                         ng-style="{'background-color': layer.fillColor,
                                            'opacity': layer.fillOpacity}">
                        &nbsp;
                    </div>
                </span>
            </span>

            <span class="title" title="{{ layer.titleTooltip}}">
                {{layer.title}}
            </span>

            <span class="fa" ng-class="{'fa-plus': !layer.visible, 'fa-check': layer.visible}">
            </span>
        </span>
        
        <span ng-click="layerToEdit(layer)" ng-if="layer.editable && !layer.comboBox" class="fa" ng-class="{'fa-plus': !layer.edit, 'fa-pencil': layer.edit}">
        </span>
    </div>
    
    <div class="switch" ng-if="layer.comboBox">
        <span ng-if="layer.selectorStyle !== 'none'" class="selector">
            <span ng-if="layer.icon" ng-show="layer.visible" class="icon">
                <img ng-src="{{layer.icon}}" />
            </span>

            <span ng-if="layer.selectorStyle === 'fill'" ng-show="layer.visible" class="indicator"
                  ng-style="{'background-color': layer.fillColor}">
                &nbsp;
            </span>

            <span ng-if="layer.selectorStyle === 'border'" ng-show="layer.visible" class="indicator"
                  ng-style="{'border-width': layer.borderWidth,
                                   'border-style': layer.borderStyle,
                                   'border-color': layer.borderColor
                                  }">
                &nbsp;
            </span>

            <span ng-if="layer.selectorStyle === 'border-fill'" ng-show="layer.visible" class="indicator"
                  ng-style="{'border-width': layer.borderWidth,
                                   'border-style': layer.borderStyle,
                                   'border-color': layer.borderColor
                                  }">
                <div style="width: 100%; height: 100%;"
                     ng-style="{'background-color': layer.fillColor,
                                        'opacity': layer.fillOpacity}">
                    &nbsp;
                </div>
            </span>
        </span>

        <div class="component-dropdownSingleselect" ng-class="{'popupTop': layer.comboBoxReverse}" ng-if="layer.comboBox">
            <span class="fa fa-caret-down title">
                {{layer.title}}
            </span>

            <ul>
                <li ng-repeat="(id, name) in layer.comboBox" ng-class="{'selected': layer.selected && layer.id == id}">
                    <a ng-click="switchComboBox(id)">{{ name}}</a>
                </li>
            </ul>
        </div>
    </div>
</span>

<span ng-if="layer.selector === 'hidden'">
    <ul ng-if="layer.layers">
        <li ng-repeat="layer in getSelectorLayers(layer)" ng-include="'layerTree'">
        </li>
    </ul>
</span>

<span ng-if="layer.selector === 'group' && layer.selected != false">
    <div class="group">
        <div class="group-title" ng-click="switchGroup(layer)" ng-if="!layer.comboBox">
            {{layer.title}} <span ng-show="showCollapsedVisibleLayersCount() && layer.collapsed" title="Počet zobrazených vrstev" style="cursor: help;">({{ getDisplayedLayersCount(layer)}})</span>
        </div>
        <section class="component-dropdownSingleselect" ng-if="layer.comboBox">
            <span class="fa fa-caret-down group-title">
                {{layer.comboBox[layer.id]}}
            </span>

            <ul>
                <li ng-repeat="(id, name) in layer.comboBox" ng-class="{'selected': layer.selected && layer.id == id}">
                    <a ng-click="switchComboBox(id)">{{ name}}</a>
                </li>
            </ul>
        </section>

        <ul ng-if="layer.layers" ng-show="!layer.collapsed">
            <li ng-repeat="layer in layer.layers.slice().reverse()| filter:filterUnselectedSwitch" ng-include="'layerTree'">
            </li>
        </ul>
    </div>
</span>
