<div class="row">

    <div class="col-md-12">

        <cm-leaflet-map options="HomeCtrl.opts" config="HomeCtrl.config" style="min-height: 100%; height: 100%; width: 100%; display: block;"></cm-leaflet-map>

        <cm-toolbar-holder map-id="{{ HomeCtrl.mapId }}">

            <div class="btn-group btn-group-sm" role="group">
                <cm-fullscreen map-id="{{ HomeCtrl.mapId }}"></cm-fullscreen>
            </div>

            <div class="btn-group btn-group-sm" role="group">
                <cm-mouse-coords map-id="{{ HomeCtrl.mapId }}" crs-id="4326"></cm-mouse-coords>
            </div>

            <div class="btn-group btn-group-sm" role="group">
                <cm-home map-id="{{ HomeCtrl.mapId }}"></cm-home>
            </div>

            <div class="btn-group btn-group-sm" role="group">
                <cm-zoom-rectangle map-id="{{ HomeCtrl.mapId }}"></cm-zoom-rectangle>
                <cm-zoom-in map-id="{{ HomeCtrl.mapId }}"></cm-zoom-in>
                <cm-zoom-out map-id="{{ HomeCtrl.mapId }}"></cm-zoom-out>
            </div>

            <div class="btn-group btn-group-sm" role="group">

               <cm-move-left map-id="{{ HomeCtrl.mapId }}"></cm-move-left>
               <cm-move-right map-id="{{ HomeCtrl.mapId }}"></cm-move-right>
               <cm-move-top map-id="{{ HomeCtrl.mapId }}"></cm-move-top>
               <cm-move-bottom map-id="{{ HomeCtrl.mapId }}"></cm-move-bottom>

            </div>

        </cm-toolbar-holder>


    </div>


</div>


